$font_weights: (
  Thin: 100,
  UltraLight: 200,
  Light: 300,
  Regular: 400,
  Medium: 500,
  DemiBold: 600,
  Bold: 700,
  ExtraBold: 800,
  Black: 900,
  ExtraBlack: 950,
  Heavy: 1000,
);

@mixin font-face($fontFamily, $name, $font_weight, $size) {
  @font-face {
    font-family: $fontFamily;
    font-weight: $size;
    src: url('~@/assets/fonts/#{$name}-#{$font_weight}.woff');
    src: url('~@/assets/fonts/#{$name}-#{$font_weight}.woff2') format('woff2'),
    url('~@/assets/fonts/#{$name}-#{$font_weight}.woff') format('woff');
    font-style: normal;
  }
}

@each $font_weight,
$size in $font_weights {
  // @include font-face(Yekan Bakh FaNum, 'YekanBakhFaNum', $font_weight, $size);
  @include font-face(IranSans, 'IRANSansX', $font_weight, $size);
}