:root {
  --font-family: "IranSans";
  --custom-border-radius: 1rem;
  --custom-border-radius-new: 2.6rem;
  --custom-border-radius-45: 45px;
  --header-size: 5rem;

  --btn-transition: 0.3s all ease-in-out;

  --swiper-pagination-color: var(--primary);

  --global-max-width: 426px;
}